body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.contenedor-uno {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff ;
    height: 60vh;
    width: 60vh;
    margin: auto 0;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 0; 
    border-top-right-radius: 0; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4),
    0px -5px 10px rgba(0, 0, 0, 0.1), 
    5px 0px 10px rgba(0, 0, 0, 0), 
    -5px 0px 10px rgba(0, 0, 0, 0.1); 
}

.contenedor-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #07187c86 ;
    height: 60vh;
    width: 60vh;
    margin: auto 0; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 5px;   
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4), 
    0px -5px 10px rgba(0, 0, 0, 0.1), 
    5px 0px 10px rgba(0, 0, 0, 0),
    -5px 0px 10px rgba(0, 0, 0, 0); 
}

.contenedor-aux{
    padding: 11%;
}

.txt-basal{
    color: rgb(0, 0, 0);
}

.txt-formula{
    color: #07187c;
}

.txt-calculo{
    color: #ffffff;
    text-align:center;
}

.txt-dos{
    color: #ffffff;
    text-align:center;
}

.contenedor-btnCalcular{
    margin-top: 10px;
}

.btn-calcular{
    border-radius: 20px;
    height: 30px;
    width: 120px;
    color: white;
    background-color:#07187c;
    border: none;
    box-shadow: 0;

}

.input-kilos{
    height: 25px;
    width: 200px;
    border: none; 
    background-color: #c7cacd70;
    
}

#error{
    display: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    animation: desvanecer 2s ease-in-out;
}

@keyframes desvanecer {
    0%{
        transform:translateY(-100%);
        opacity: 1;
    }
    50%{
        transform:translateY(50%);
        opacity: 1;

    }   
    100%{
        transform:translateY(-100%);
        opacity: 1;
    } 

}

